*{overflow-x: hidden;}
mat-form-field{width:100%}
h5,mat-label{color:#FF847C;}
.btn{background-color:#ff6c61;
    color:white;cursor: pointer;}
    @media (max-width: 767px ){/* mobile & tablet*/

    }
    @media (min-width: 768px) and (max-width:991px){ /* small screen */
      
      
      
    }
    @media (min-width: 992px) and (max-width:1199px) { /* medium screen */
      
      
    }