<div class="container">
  <div class="card">
    <div class="card-header">
      <button class="btn" [style.background]="this.productService.color"
       (click)="openDialog(addTemplate)">{{'Add Category' | translate}}</button>
    </div>
    <mat-divider class="m-auto"></mat-divider>
    <div class="card-body">
      <div *ngFor="let category of categories; let i= index">
        <div class="d-flex flex-column bd-highlight mb-3 justify-content-start">
          <div class="p-2 bd-highlight">{{'Name' | translate}}: {{category | translate}}</div>
          <div class="p-2 bd-highlight">
            <button class="btn mr-1" [style.background]="this.productService.color"
                    (click)="openDialog(categoryDetails)">{{'View Products' | translate}}
            </button>
            <button class="btn mr-1" [style.background]="this.productService.color" (click)="openDialog(editCategory)">{{'Update' | translate}}
            </button>
            <button class="btn" [style.background]="this.productService.color" (click)="openDialog(deleteCategoryTemplate)">{{'Delete' | translate}}
            </button>
          </div>
        </div>
        <mat-divider class="m-auto"></mat-divider>
        <ng-template #editCategory>
          <ng-container *ngFor="let categoryData of  getCategories(category)">
          <h2 mat-dialog-title *ngIf="categories">
            {{'Updating' | translate}} {{category | translate}}
          </h2>
          <mat-dialog-content class="mat-typography" style="width: 700px; height: auto">

            <form [formGroup]="updateCategoryDto" (ngSubmit)="updateCategory(category); hide()">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name of the category" [value]="category" type="text"
                       formControlName="name" name="name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description of the product" type="text" [value]="categoryData.description"
                       formControlName="description" name="description">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Category Type</mat-label>
                <input matInput placeholder="Type of the product" [value]="categoryData.type" type="text"
                       formControlName="type" name="type">
              </mat-form-field>
              <button style="width: 120px;" class="btn" [style.background]="this.productService.color" type="submit">Update
              </button>
            </form>

          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button style="width: 120px;" (click)="hide()" class="btn" [style.background]="this.productService.color"
                    type="button">Close
            </button>
          </mat-dialog-actions>
        </ng-container>
        </ng-template>
        <ng-template #deleteCategoryTemplate>
          <h2 mat-dialog-title>Deleting {{category}}</h2>
          <mat-dialog-content class="mat-typography">
            <p class="alert alert-danger">Are you sure that you want to delete this category?</p>

          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button class="btn ml-1 mr-1" [style.background]="this.productService.color" (click)="deleteCategory(i); hide()">
              Yes
            </button>
            <button style="width: 120px;" (click)="hide()" class="btn"
            [style.background]="this.productService.color"
                    type="button">Close
            </button>
          </mat-dialog-actions>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #addTemplate>
  <h2 mat-dialog-title>{{'Adding a New Category' | translate}}</h2>
  <mat-dialog-content class="mat-typography" style="width: 700px; height: auto">
    <form [formGroup]="createCategoryDto" (ngSubmit)="addCategory(); hide()">
      <mat-form-field class="example-full-width">
        <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput placeholder="{{'Name of the category' | translate}}" type="text" formControlName="name" name="name" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'Description' | translate}}</mat-label>
        <input matInput placeholder="{{'Description of the category' | translate}}" type="text" formControlName="description"
               name="description" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'Category Type' | translate}}</mat-label>
        <mat-select [(value)]="selectedCategory" name="type" formControlName="type" required>
          <mat-option *ngFor="let type of categoryTypes" [value]="type">
            {{type | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button style="width: 120px;" class="btn" [style.background]="this.productService.color" type="submit"
              [disabled]="!createCategoryDto.valid">{{'Add' | translate}}
      </button>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'Cancel' | translate}}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #categoryDetails>
  <mat-dialog-content class="mat-typography" style="width: 700px; height: auto">
    <div class="mt-2">
      <h2 mat-dialog-title *ngIf="category">
        <p class="lead">{{category}} Products
          <button type="button" class="btn btn-round" [style.background]="this.productService.color"
                  (click)="openDialog(pushingProduct)">
            Add Product
          </button>
        </p>
      </h2>
    </div>
    <mat-divider class="m-auto"></mat-divider>
    <div *ngIf="category">
      <div class="row">
        <div class="col-md-auto" *ngFor="let prod of products">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <img *ngIf="prod.image" [src]="prod.image" class="card-img-top" alt="product image">
            <div class="card-header">ID: {{prod.id}}</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Name: {{prod.title}}</h5>
              <p class="card-text">Description: {{prod.description}}</p>
              <p class="card-text">Price: {{prod.price}}</p>
              <p class="card-text">Quantity: {{prod.quantity}}</p>
              <div class="card-footer">
                <div class="btn-group">
                  <button class="btn ml-2" [style.background]="this.productService.color"
                          (click)="prepareProductForm(prod); openDialog(updatingProduct)" style="width: 100px;">Edit
                  </button>
                  <button class="btn" style="width: 100px;" [style.background]="this.productService.color"
                          (click)="openDialog(deleteProductTemplate)">Delete
                  </button>
                </div>
              </div>
              <ng-template #updatingProduct>
                <h2 mat-dialog-title *ngIf="prod">
                  Updating Product {{prod.title}}
                </h2>
                <mat-dialog-content class="mat-typography" style="width: 700px; height: auto" *ngIf="prod">

                  <form [formGroup]="updateProductDto" (ngSubmit)="updateProduct(category, prod.id, prod); hide()">
                    <mat-form-field class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Name of the product" type="text" formControlName="name" name="name">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>Description</mat-label>
                      <input matInput placeholder="Description of the product" type="text" formControlName="description"
                             name="description">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Price</mat-label>
                      <input matInput placeholder="Price of the product" type="number" formControlName="price"
                             name="price">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Quantity</mat-label>
                      <input matInput placeholder="Quantity of the product" type="number" formControlName="quantity"
                             name="quantity">
                    </mat-form-field>
                    <div class="form-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="updateImage" formControlName="image"
                               name="image"
                               ng2FileSelect [uploader]="uploader" (change)="onChangingFileSelect($event)">
                        <label class="custom-file-label" for="updateImage">You have
                          chosen: {{updateSelectedFile}}</label>
                      </div>
                    </div>

                    <button style="width: 120px;" class="btn btn-outline-success pull-right" [style.background]="this.productService.color"
                     type="submit">Update
                    </button>
                  </form>

                </mat-dialog-content>
                <mat-dialog-actions align="end">
                  <button style="width: 120px;" (click)="hide()" 
                  class="btn btn-outline-warning pull-right" [style.background]="this.productService.color"
                          type="button">Close
                  </button>
                </mat-dialog-actions>
              </ng-template>
              <ng-template #deleteProductTemplate>
                <h2 mat-dialog-title>Deleting {{prod.title}}</h2>
                <mat-dialog-content class="mat-typography">
                  <p class="alert alert-danger">Are you sure that you want to delete this product?</p>

                </mat-dialog-content>
                <mat-dialog-actions align="end">
                  <button class="btn ml-1 mr-1"
                  [style.background]="this.productService.color"
                          (click)="deleteProduct(category, prod.id); hide()">
                    Yes
                  </button>
                  <button style="width: 120px;" (click)="hide()" [style.background]="this.productService.color"
                   class="btn"
                          type="button">Close
                  </button>
                </mat-dialog-actions>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>


<ng-template #pushingProduct>
  <h2 mat-dialog-title *ngIf="category">
    Adding new product to {{category}}
  </h2>
  <mat-dialog-content class="mat-typography" style="width: 700px; height: auto" *ngIf="category">

    <form [formGroup]="createProductDto" (ngSubmit)="addProduct(); hide()">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name of the product" type="text" formControlName="name" name="name" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description of the product" type="text" formControlName="description"
               name="description" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price of the product" type="number" formControlName="price" name="price" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity of the product" type="number" formControlName="quantity" name="quantity"
               required>
      </mat-form-field>
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image" formControlName="image" name="image" ng2FileSelect
                 [uploader]="uploader" (change)="onUploadingFileSelect($event)" required>
          <label class="custom-file-label" for="image">{{'You have chosen' | translate}}: {{selectedFile}}</label>
        </div>
      </div>

      <button style="width: 120px;" class="btn" [style.background]="this.productService.color" type="submit"
              [disabled]="!createProductDto.valid">{{'Add' | translate}}
      </button>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button style="width: 120px;" (click)="hide()" class="btn" 
    [style.background]="this.productService.color"
    type="button">{{'Close' | translate}}
    </button>
  </mat-dialog-actions>
</ng-template>
