img{height: 167px !important;}
.btn{border: 2px solid hsl(4, 100%, 74%);color:gray;transition: all .5s ease-in;}

// .btn:hover{background: #FF847C;color: white;}
h2{color: gray;}

@media (max-width: 767px ){/* mobile & tablet*/

}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
  
  
  
}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
  
  
}