<div class="navbar1">
    <div class="container">
                <!-- <div class="row"> -->
            <div class="float-start">
                <ul>
                  <li>
                      <a>  
                        <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                        </button>
                      </a>
                  </li>
                    <li><a>GTS Website</a></li>
                    <li><a>Home</a></li>
                    <li><a>Contact Us</a></li>
                    <li><a>Products</a></li>
                    <div class="clearFix"></div>
                </ul>
            </div>
        
            <div class="float-end">
                <ul>
                    <li><a>Login</a></li>
                    <li><a>Register</a></li>
                    <li><a>Mangement</a></li>            
                    <li>User</li>
                    <li><a>
                    <p>
                        <!-- <mat-icon matBadge="15" matBadgeColor="warn">menu</mat-icon> -->
                      </p>
                    </a></li>
                    <div class="clearFix"></div>
                </ul>      
            </div>
            <div class="clearFix"></div>
        </div>
</div>