@import '../../shared/scss/variables.scss';
*{overflow: hidden !important;}
img{height: 167px !important;}
h4{margin:0 43%;color: gray;}
.btn{border: 2px solid $mainColor;transition: all .5s ease-in;}

// .btn:hover{background: $mainColor;color: white;}
@media (max-width: 767px ){/* mobile & tablet*/
    h4{
        margin: 0 6% !important;
      }
    //   .btn{margin-top: 5px;}
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
  
  
  
}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
  
  
}