<div class="container-fluid mt-1">
<div class="jumbotron mb-3 p-2">
<div class="mb-2">
<div class="row justify-content-center">
<div class="d-flex justify-content-center">
<mat-form-field style="width: 500px;">
<input type="text" aria-label="Name" matInput [matAutocomplete]="autoName"
 name="searchTerm" [(ngModel)]="searchTerm" placeholder="{{'search for a product' | translate}}">
</mat-form-field>
<mat-autocomplete #autoName="matAutocomplete">
<mat-option *ngFor="let product of products | productFilter: searchTerm" [value]="product.title">
{{product.title | translate}}
</mat-option>
</mat-autocomplete>
</div>
</div>
</div>
</div>
</div>

<div class="container">
<div class="row mt-3" *ngIf="products && products.length >= 1">
    <h4 class="mb-4 card-text">{{'Products' | translate}}</h4>
    <mat-divider class="mb-5"></mat-divider>
    <div class="col-md-4 col-12 mb-5" *ngFor="let product of products | productFilter:searchTerm">
        <div class="card mb-3 w-100 h-100">
        <img [src]="product.image" *ngIf="product.image" class="w-100">
        <div class="card-body">
            <h5 class="card-text lead">{{product.title | translate}}</h5>
            <mat-divider class="m-2">

            </mat-divider>
            <p class="card-text lead">${{product.price}}</p>
        </div>
        <div class="card-footer">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6 col-6">
              <button class="btn" [style.borderColor]="this.productService.color" (click)="viewProductDetails(product)">
                  {{'View details' | translate}} 
              </button>
            </div>
              <!-- *ngIf="authService.isLoggedIn()" -->
              <div class="col-lg-6 col-md-6 col-6">
              <button class="btn" [style.borderColor]="this.productService.color"
              (click)="openDialog(addToCartDialog)">
                  {{'Add to Cart' | translate}}
              </button>
            </div>
              <ng-template #addToCartDialog>
                <h2>{{'Type here how many quantity you want to add into your cart' | translate}}</h2>
                <mat-dialog-content class="mat-typography" style="width: 400px;height: auto;">
                 <div class="row justify-content-center mt-2">
                   <mat-form-field class="mt-3" appearance="fill">
                      <mat-label>{{'Quantity' | translate}}</mat-label>
                      <input type="number" matInput name="quantity" [(ngModel)]="quantity" min="1" max="100" placeholder="Ex. 10" required>
                    </mat-form-field>
                 </div>
                </mat-dialog-content>
                <mat-dialog-actions align="end">
                  <button type="button" class="btn" [style.borderColor]="this.productService.color"
                   (click)="pushToCart(product.id,quantity);openSnackBar('cart was added successfully','ok')">
                      {{'Add to Cart' | translate}}
                  </button>
                  <button type="button" style="width: 120px;" (click)="hideDialog()"
                   class="btn pull-right" [style.borderColor]="this.productService.color">{{'close' | translate}}</button>
                </mat-dialog-actions>
              </ng-template>
              


            </div>
        </div>
        </div>
    </div>
</div></div>