@import '../app/shared/scss/variables.scss';
.navbar1{
    // background-color: #FF847C;
    ul{    
        margin: 7px 0px;
        line-height: 46px;
    }
    ul li{
        list-style-type: none;
        float: left;
        margin:0 10px;
        color:white;
    a{color:white !important;text-decoration: none;}
    }
    .clearFix{clear: both;}
    
}
.nav-item {
    font-family: 'Anton', sans-serif;
  }
  a {
    font-family: 'Anton', sans-serif;
    text-decoration: none !important;
  }
  .example-container {
    position: absolute;
    top: 60px;
    bottom: 52px;
    left: 0;
    right: 0;
  }
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    color:white;
    background: #FF847C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgb(195, 194, 194),#ff6a5f); 
    background: linear-gradient(right, rgb(195, 194, 194),#ff6a5f); 
  
  }
  .fa-cart-plus{font-size: 34px;}
  .changeMainColor{
       /* position: fixed; */
       z-index: 666;
       display: flex;
       /* left: 10%; */
       left: 83%;
       top: 9%;
       position: absolute;

  }
  .btn{border: 2px solid $mainColor;color:white;border:none;outline:none;float: left;width: 35%;transition: all .5s ease-in;}
.btn:hover{background: $mainColor;color: white;}
  .color1{background: green;border-radius: 50%;    
    width: 21px;
    height: 21px;
    padding: 8px;
  }
  .color2{background: midnightblue;border-radius: 50%;    
    width: 21px;
    height: 21px;padding: 8px;}
  .color3{background: indigo;border-radius: 50%;    width: 21px;
    height: 21px;padding: 8px;}
    .color4{background:#FF847C;border-radius: 50%;    width: 21px;
      height: 21px;padding: 8px;}
      .color5{background: cadetblue;border-radius: 50%;    width: 21px;
        height: 21px;padding: 8px;}
        .hidde-li,.auth-li{display:none}
        .En-li{margin:6px 0 !important}
// .ar{margin-left: -15px;}
@media (max-width: 767px ){/* mobile & tablet*/
  .changeMainColor{
    left: 56%;
  }

.navbar1{
  .second-ul{
    li{margin: 8px -11px;}
  }

.login-li,.register-li,.mangement-li,.username-li{display: none;}
.hidde-li,.auth-li{display: block;margin: 0 -7px !important;}

.GTSwebsite-li,.contact-li{display:none}
}
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
  
  
  
}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
  
  
}