*{overflow-x: hidden;}
.btn{background-color:#FF847C;color:white}
.card-title{margin:20% 30%;color: rgb(173, 173, 173);}
.image{border: 1px solid rgb(233, 228, 228);width: 140px;height: 140px;margin: 10px 0;}
.file-input{
    color: white;
    background-color: #FF847C;}
label{background-color:white;color:gray;padding:4px;border:1px solid gainsboro}
.custom-file{
    width: 20% !important;
}

@media (max-width: 767px ){/* mobile & tablet*/
.card-head{flex-direction: column !important;}
.custom-file{
    width: 47% !important;
}
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */
  
  
  
}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
  
  
}