<ng-template #notFoundTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Attention
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <h4 class="text-danger">
        The Resource That Are You Looking For Cannot Be Exist!
      </h4>
    </div>
    <div class="modal-footer">
      <a type="button" class="btn" routerLink="/product"
      (click)="hide()">Back To Home</a>
      <button type="button" class="btn" (click)="hide()">Close</button>
    </div>
</ng-template>